<ng-container *ngIf="!isLoading; else elseTemplate">
  <section *ngIf="role">
    <div>
      <h3 class="text-center">User Role is <strong>{{ role }}</strong></h3>
    </div>
    <hr>
  </section>
  <section fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="center center" fxLayoutGap="20px">
    <div>
      <h3>Heading One</h3>
      <p>This is descripion of heading one.</p>
    </div>
    <div>
      <h3>Heading Two</h3>
      <p>This is descripion of heading Two.</p>
    </div>
    <div>
      <h3>Heading Three</h3>
      <p>This is descripion of heading Three.</p>
    </div>
  </section>
</ng-container>
<ng-template #elseTemplate>
  <mat-spinner></mat-spinner>
</ng-template>
