<ng-container *ngIf="!isLoading; else spinner_con">
  <ng-container *ngIf="!errorMessage; else error_con">
    <div class="col-12 p-0">
      <div class="col-12 col-md-6 p-0 float-left" style="overflow-y: scroll; height: 88vh;">
        <mat-table [dataSource]="propertyData" class="text-center">
          <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>id</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef mat-sort-header>title</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.title }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef mat-sort-header>description</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.description }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef mat-sort-header>price</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.price }} $</mat-cell>
          </ng-container>

          <ng-container matColumnDef="Edit">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Edit</mat-header-cell>
            <mat-cell *matCellDef="let element"><a class="btn btn-info" routerLink="/property-edit/{{ element.id }}">Edit</a></mat-cell>
          </ng-container>

          <ng-container matColumnDef="Delete">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Delete</mat-header-cell>
            <mat-cell *matCellDef="let element"><a class="btn btn-danger" (click)="deleteProperty(element.id)">Delete</a></mat-cell>
          </ng-container>

          <ng-container matColumnDef="image">
          <mat-header-cell *matHeaderCellDef mat-sort-header>image</mat-header-cell>
          <mat-cell *matCellDef="let element"><img class="w-50" src="{{ element.image }}" alt="{{ element.title }}"></mat-cell>
          </ng-container>
          
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
      <div class="col-12 col-md-6 p-0 float-right">
        <div id="map_canvas" style="height: 88vh; width:100%;"></div>
      </div>
    </div>
  </ng-container>
  <ng-template #error_con>
      <div class="alert alert-warning">
          {{ errorMessage }}
      </div>
  </ng-template>
</ng-container>
<ng-template #spinner_con>
  <mat-spinner></mat-spinner>
</ng-template>
