<mat-toolbar color="primary">
  <div>
    <a routerLink="/">Logo</a>
  </div>
  <div fxHide.xs fxFlex fxLayout fxLayoutAlign="end" fxLayoutGap="10px">
    <a mat-raised-button routerLink="/dashboard" *ngIf="isAuth">DashBoard</a>
    <a mat-raised-button routerLink="/sign-in" *ngIf="!isAuth">Sign-In</a>
    <a mat-raised-button routerLink="/sign-up" *ngIf="!isAuth">Sign-Up</a>
    <button *ngIf="isAuth && isNotClient" color="warn" mat-raised-button [matMenuTriggerFor]="propertyMenu">
      Properties
    </button>
    <mat-menu #propertyMenu="matMenu">
      <a mat-menu-item routerLink="/properties">Properties</a>
      <a mat-menu-item routerLink="/property-add">Add Property</a>
    </mat-menu>
    <button *ngIf="isAuth" color="accent" mat-raised-button [matMenuTriggerFor]="appMenu">
      My Account
    </button>
    <mat-menu #appMenu="matMenu">
      <a mat-menu-item *ngIf="isAuth" routerLink="/user">Profile</a>
      <a mat-menu-item *ngIf="isAuth" routerLink="/edit-profile">Edit Profile</a>
      <a mat-menu-item *ngIf="isClient" routerLink="/client-search-area">Client Search Area</a>
      <a mat-menu-item *ngIf="isSuperAdmin" routerLink="/all-user">All Users</a>
      <a mat-menu-item *ngIf="isSuperAdmin" routerLink="/add-user">Add New User</a>
      <a mat-menu-item (click)="logout()" *ngIf="isAuth">Logout</a>
    </mat-menu>
  </div>
  <div fxHide.gt-xs fxFlex fxLayout fxLayoutAlign="end" fxLayoutGap="10px">
    <button mat-icon-button (click)="sideBarToggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>
